{% extends "base.html" %}

{% block content %}
  <h2>Lista de personas</h2>

  <a href="{% url 'personas:persona-create' %}">Crear Nueva Persona</a>

  <ul>
    {% for persona in object_list %}
      <li>
        {{ persona.nombres }} {{ persona.apellidos }} 
        <a href="{% url 'personas:persona-update' persona.pk %}">Modificar</a> 
        <a href="{% url 'personas:persona-delete' persona.pk %}">Borrar</a>
      </li>
    {% empty %}
      <li>No hay personas registradas.</li>
    {% endfor %}
  </ul>
{% endblock %}
