<div class="black">
  <h1>{{ title }}</h1>
</div>

<div class="ash">
  <h2>{{ name }}</h2>
  <h3>{{ email }}</h3>
  
  <button (click)="toggleHobbies()">
    {{ showHobbies ? 'Ocultar Hobbies' : 'Mostrar Hobbies' }}
  </button>

  <div *ngIf="showHobbies" class="component2">
    <h3>Mis Hobbies:</h3>
    <ul>
      <li *ngFor="let hobby of hobbies; let i = index">
        {{ hobby }} 
        <button (click)="deleteHobby(i)">Eliminar</button>
      </li>
    </ul>
    
    <form (submit)="newHobby(hobby)">
      <input #hobby type="text" placeholder="Agregar nuevo hobby" required>
      <button type="submit">Agregar</button>
    </form>
  </div>

  <a href="{{ webpage }}" target="_blank">Visita mi sitio Web</a>
</div>

<div class="component2">
  <h2>Lista de Usuarios</h2>
  <form (submit)="addUser(newUser)">
    <input #newUser type="text" placeholder="Nuevo usuario" required>
    <button type="submit">Agregar Usuario</button>
  </form>
  
  <ul>
    <li *ngFor="let user of users; let i = index">
      {{ user }}
      <button (click)="deleteUser(i)">Borrar</button>
    </li>
  </ul>
</div>

<div class="black">
  <h1>{{ title }}</h1>
</div>

<!-- Componente hello-world -->
<app-hello-world></app-hello-world>